.MaterialTabs-title, span{
    /* color: red !important; */
}
.resaltar {
    box-shadow: 0 0 10px red inset;
}
.at-badge {
    position: absolute;
    left: 3rem;
    top: 7rem;
    z-index: 10;
    opacity: .5;
    width: 3rem;
    height: 3rem;
}