* {
    font-family: system-ui;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
h1{
    font-size: 1.25rem;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1 img {
    vertical-align: middle;
    margin-right: 1rem;
}
#contenido {
    display: block;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
}
td, th {
    text-align: center;
    padding: .65rem;
    white-space: nowrap;
}
td:nth-child(2){
    text-align: left;
}
td:first-child,
th:first-child{
    text-align: center;
}
tr:nth-child( odd ) {
    background-color: #ececec;
}

.icon {
    padding: 0 .5rem;
}
.badge {
    height: 24px;
    width: 24px;
}
.colapsable {
    background-color: #ddd;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titulo-curso {
    box-sizing: border-box;
    padding: .5rem;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}
.oculto {
    display: none;
}
.avg-tl-td {
    width: inherit;
    display: flex;
    flex-direction: row;
}
.avg-tl-td div:last-child {
    text-align: right;
}
.version {
    color: grey;
    text-align: right;
    font-size: xx-small;
    font-weight: normal;
    font-style: italic;
}